<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <form action="{{ url_for('register') }}" method="POST">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>
            <label for="cognome">Cognome</label>
            <input type="text" id="cognome" name="cognome" required>
            <label for="anno_nascita">Anno di Nascita</label>
            <input type="text" id="anno_nascita" name="anno_nascita" required>
            <label for="data_nascita">Data di Nascita</label>
            <input type="date" id="data_nascita" name="data_nascita" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Registrati</button>
        </form>
    </div>
</body>
</html>
